.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 400px;
  border-radius: 6px;
}

.characterCardInfo{

  display: flex;
  width: 100%;
}

.characterCardImage{
  width: 50%;
}

.characterCardImage img{
  width: 100%;
}

.characterCardData{
  width: 50%;
 text-align: start;
 padding: 1rem;
}

.cardContainer-light {
  background-color: #d7e9f3;
}

.cardContainer-dark {
  background-color: #bac9d2;
}
