.cardContainer {
  display: flex;
  justify-self: start;
  gap: 2rem;
  width: 100%;
}

.characterImageContainer {
  width: 30%;
}

.characterImage {
  width: 100%;
}

.characrearInfo {
  width: 70%;
}
