.characterDetails {
  position: relative;
  width: 300px;
  background-color: rgb(176, 179, 182);
}

.closeButton {
  position: absolute;
  right: 0;
}

.characterImage {
  width: 80%;
  max-width: 300px;
}
