.paginationContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: #f0fbff;
  font-family: 'Montserrat', sans-serif;
}

.active {
  background-color: #c7caff;
}
