.mainPage {
  position: relative;

  display: flex;
  justify-content: flex-start;
  border-radius: 10px;

  gap: 1rem;
}

.refreshButton {
  margin-bottom: 1rem;
}
.refreshButton {
  padding: 0.5rem;
  border: none;
  border-radius: 6px;
  background-color: rgb(142, 201, 235);
  cursor: pointer;
}

.refresh {
  width: 20px;
}
