.main {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.main-light {
  background-color: #ededff;
  color: black;
}

.main-dark {
  background-color: #222330;
  color: white;
}
