.main {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 2.5rem);
}

.main-light {
  background-color: white;
  color: black;
}

.main-dark {
  background-color: #24282a;
  color: white;
}
