.main {
 
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 2.5rem);
  margin-top: 2.5rem;
  width: 100%;
}

.main-light {
  background-color: white;
  color: black;
}

.main-dark {
  background-color: #24282a;
  color: white;
}
