.characterDetails {
  position: relative;
  width: 400px;

  padding: 3rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.characterDetails-light {
  background-color: #f0faff;
}

.characterDetails-dark {
  background-color: #6c7478;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.characterImage {
  width: 100%;
  max-width: 300px;
}

.characterDetailsInfo {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.refreshImageContainer {
  margin-top: 1rem;
  padding: 0.2rem;
}
