.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.charactersList {
  height: 500px;
  overflow-y: scroll;
}

.errorMessage {
  text-align: center;
}
