.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.charactersList {

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
    justify-content: center;
}

.errorMessage {
  text-align: center;
}

.characterRow {
  display: flex;
}
