.header {
  display: flex;
  top: 0;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  align-items: center;
  gap: 1rem;
}

.header-light {
  background-color: #a9bfcc;
}

.header-dark {
  background-color: #393f42;
}

.themeIcon {
  width: 25px;
  cursor: pointer;
}

.theme {
  background: transparent;
  border: none;
}



.main {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.main-light {
  background-color: white;
  color: black;
}

.main-dark {
  background-color: #24282a;
  color: white;
}
